.NavigationItem{
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin: 10px 0;

  a{
    color:#8f5c2c;
    text-decoration: none;
    width: 100%;
    display: block;
  }
  &:hover:active{
    color:#40a4c8;
  }
  .active{
    color:#40a4c8;
  }
}

@media (min-width: 500px) {
  .NavigationItem{
    display: flex;
    margin: 0;
    align-items: center;
    width: auto;
    a{
      color:#fff;
      padding: 16px 10px;
      height: 100%;
      border-bottom: 4px solid transparent;
      width: auto;
    }
    &:hover:active{
      background-color: #8f5c2c;
      border-bottom: 4px solid #40a4c8;
      color:white;
    }
    .active{
      background-color: #8f5c2c;
      border-bottom: 4px solid #40a4c8;
      color:white;
    }
  }
}